@model List<CrwTask.Models.Teams>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Logo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td scope="row">@item.ID</td>
                @*            <td>@Url.Action("VeriAl", "Home", new { id = item.ID })</td>*@
                <td>
                    @Html.ActionLink("Details", "IndexDetails", new { id = item.ID })
                </td>
                <td>@item.Name</td>
                <td><img src="@item.Logo" /></td>
            </tr>
        }
    </tbody>
</table>

<div>
    <input type="text" id="teamID" />
    <input type="text" id="teamName" />
    <input type="text" id="teamLogo" />
    <input type="submit" id="btnPost" value="Save" />
</div>

<script>
        $(document).ready(function () {
            $("#ekle").click(function () {
                $.ajax(
                    {
                        type: "POST",
                        url: "Home/VeriAl",
                        data: {
                            ID: $("#teamID").val(),
                            Name: $("#teamName").val(),
                            Logo: $("#teamLogo").val()
                        }

                    });

            });
        });

    </script>

@*<script>
        $(function () {
            $("#btnPost").click(function () {
                var team = {};
                team.ID = $('#teamID').val();
                team.Name = $('#teamName').val();
                team.Logo = $('#teamLogo').val();
                if (team != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/JsonPost",
                        data: JSON.stringify(team),
                        success: function (res) {
                            if (res != null) {
                                console.log(team);
                            } else {
                                alert("boş");
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        });
    </script>*@

